<section class="phx-hero">
  <h2>Vielen Dank für Ihre Anfrage zur Covid-Impfung mit BioNTech.</h2>
  <p>Derzeit haben wir <strong>keine</strong> Warteliste, Sie können direkt <a href="https://www.terminland.eu/waesterpraxis/?tp=4">hier</a> einen Termin zur Impfung in unserer Praxis buchen!</p>
</section>
