<section class="phx-hero">
  <h1>Vielen Dank für Ihre Anmeldung zur Coronaimpfung mit BioNTech in unserer Praxis</h1>
  <p>Da wir weitaus mehr Anfragen als Impfstoff haben und der Impfstoff immer nur wochenweise in unterschiedlichen Mengen geliefert wird, haben wir Sie der Reihe nach auf eine Warteliste gesetzt. Wir werden Sie regelmäßig über den Impffortschritt in der Praxis informieren und etwa 1 Woche vorher anschreiben, wenn ein Impftermin frei ist. Beim Impftermin in der Praxis erhalten Sie auch den Termin zur 2. Impfung nach 6 Wochen. Diesen 2. Termin können wir nur in Ausnahmefällen geringfügig verlegen.</p>
  <p>Falls Sie zwischenzeitlich woanders geimpft sein sollten oder bei anderen Fragen schreiben Sie an <a href="mailto:kontakt@waesterpraxis.de">kontakt@waesterpraxis.de</a></p><br>
  Ihre Hausärztliche Gemeinschaftspraxis an der Wäster<br>
  Dr. M. Becher und Dr. C. Becker
</section>
